body {
    background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    height: 100vh;
}
.left-column {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
 }
    .left-column h1 {
        width: 80%;
        font-size: 42px;
        color: var(--main-color);
        margin-bottom: 0;
    }
    .left-column p {
        width: 80%;
        line-height: 2rem;
        color: var(--description-color);
    }

.container .right-column {
    display: flex;
    flex-direction: column;
}
    .container .right-column .ratings-row {
        display: flex;
        align-items: center;
        width: 350px;
        margin-bottom: 15px;
        background-color: var(--name-color);
        padding: 15px;
        border: 0;
        border-radius: 5px;
        line-height: 1rem;
    }
        .right-column > .ratings-row > .stars {
            display: flex;
            flex-direction: row;
            margin: 0 20px;
        }
        .right-column > .ratings-row > .stars > img {
            width: 15px;
            height: 14px;
            margin: 0 2px;
        }
        .right-column > .ratings-row > .rate-text {
            color: var(--main-color);
            font-size: 11px;
            font-weight: bold;
        }
        .ratings-row.top {
            margin-right: auto;
        }
        .ratings-row.mid {
            margin: 0 auto;
        }
        .ratings-row.bottom {
            margin-left: auto;
        }
footer.container > .row {
    padding: 0 0 50px;
}

@media (max-width: 1080px){
    .left-column h1 {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .left-column p {
        width: 100%;
        text-align: center;
    }
    .right-column {
        padding-top: 0;
    }
}
@media (max-width: 860px){
    body {
        background-image: url('../images/bg-pattern-top-mobile.svg'), url('../images/bg-pattern-bottom-mobile.svg');
        background-position: top left, bottom right;
        background-repeat: no-repeat;
        height: 100vh;
    }
}

@media (max-width: 680px){
    .container .right-column .ratings-row {
        flex-direction: column;
        padding: 10px 0;
        width: 100%;
    }
    .right-column > .ratings-row > .stars {
        margin-bottom: 10px;
    }
}