.container {
    display: grid;
    grid-template-columns: 1fr repeat(6, minmax(100px, 1fr)) 1fr;
    column-gap: 30px;
}
.container.main {
    padding: calc(var(--main-padding) / 2) 0 ;
    padding-bottom: calc(var(--main-padding) / 3) ;
}
 .left-column {
     grid-column: 2 / 5;
     padding-right: calc(var(--header-gap) * 2);
 }
    .left-column .love {
        grid-column: 2 / 4;
        margin-bottom: var(--header-gap);

    }
    .left-column h1 {
        width: 100%;
    }

.right-column {
    grid-column: 5/8 ;
    padding: var(--header-gap) 0;
}
    .right-column .ratings-row {
        width: 70%;
        margin-bottom: var(--header-gap);
    }

        .footer > .cards.card-left{
            grid-column: 2/4;
        }
        .footer > .cards.card-mid{
            grid-column: 4/6;
        }
        .footer > .cards.card-right{
            grid-column: 6/8;
        }

        .footer .cards > .person-row {
            padding-bottom: var(--cards-padding);
        }
        
@media (max-width: 900px){

}